#about{
    padding: 60px 0;
    background-color:#EDEDED;
}

.about-img{
    overflow: hidden;
    padding-bottom: 30px;
}

.about-title{
    margin-bottom: 20px;
    font-size:27px;
    color:#4C6873;
    line-height:35px;
}

.about-text{
    font-size:18px;
    color:#6c757d;
    line-height:25px;
}

.about-list{
    list-style: none;
    padding: 0;
}

.icon-about{
    color:#597A87;
}

.li-text{
    color:#A5CAD9;
}
