@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar{
    background:transparent;
    opacity:0.9;
}

.navbar.active{
    background: #597A87;
}

.navbar-light .navbar-toggler{
    border: none;
}

.navbar-light .navbar-toggler:hover{
    background-color:#597A87;
    transition: 0.1s ease-in-out;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link{
    color:#f1f0f1;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show>.nav-link:hover
.navbar-light .navbar-nav .active > .nav-link:hover{
    color:#b9b8b9;
    transition: 0.1s ease-in-out;
}

.navbar-light .navbar-nav .nav-link.active{
    color:#202020;
}

.navbar-collapse{
    font-size:15px;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #F4EDF1;
}

.dropdown-menu{
    font-size:15px;
    background:#597A87;
    border: none;
}

.dropdown-item.active, .dropdown-item:active{
    background-color:#4C6873;
}

.dropdown-item{
    color:#F4EDF1;
}

.dropdown-item:hover{
    background:none;
    color:#b9b8b9;
    transition: 0.1s ease-in-out;
}

@media (max-width: 991px) {
    .navbar{
        background:linear-gradient(90deg, #597A87 0%, #384C54 100%);
    }
}

